@* @{
    Layout = "~/Views/Shared/_layout.cshtml";
} *@
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Admins</h5>
                <p class="card-text">@ViewData["AdminCount"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Teachers</h5>
                <p class="card-text">@ViewData["TeacherCount"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Students</h5>
                <p class="card-text">@ViewData["StudentCount"]</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">TPOs</h5>
                <p class="card-text">@ViewData["TPOCount"]</p>
            </div>
        </div>
    </div>
</div>
